:root {
  --dark-primary-color: #FBC02D;
  --light-primary-color: #FFF9C4;
  --primary-color: #FFEB3B;
  --icons: #212121;

  --accent-color: #448AFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

header {
  background: var(--primary-color);
  color: var(--primary-text);
  padding: 1rem;
}

header, section {
  padding: 1rem;
  border-bottom: 2px solid var(--divider-color);
}

header {
  max-height: 100vh;
  height: 100vh;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.header__row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.header__row img {
  width: auto;
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 1.7em;
}

header h2 {
  position: relative;
  font-size: 1.7rem;
  margin: 0;
}

header h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.33em;
  height: 0.11em;
  background: var(--primary-text);
}

section.description {
  background: var(--light-primary-color);
}

section.relevance {
  background: var(--dark-primary-color);
}

section.keywords {
  background: var(--light-primary-color);
}

ul {
  list-style-type: disclosure-closed;
}

ul li {
  list-style-type: disclosure-closed;
  margin-bottom: 0.5em;
}

section.purpose {
  background: var(--primary-color);
}

section.tasks {
  background: var(--light-primary-color);
}

section.methodology {
  background: var(--dark-primary-color);
}

section.expected-results {
  background: var(--light-primary-color);
}

section.contacts {
  background: var(--primary-color);
}

footer {
  background: var(--light-primary-color);
  text-align: center;
  padding: 1rem 0;
}